body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #74ebd5 0%, #ACB6E5 100%);
    margin: 0;
    padding: 0;
    height: 100vh;  
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
}

.form-section {
    width: 90%; 
    max-width: 550px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    animation: slideIn 0.5s ease-in-out;
}


h2 {
    text-align: center;
    color: #333;
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.application-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-weight: 600;
    margin-bottom: 5px;
    color: #555;
}

.form-group input, 
.form-group textarea {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    transition: box-shadow 0.3s , border 0.3s ;
}

.form-group input:focus, 
.form-group textarea:focus {
    box-shadow: 0 0 5px rgba(0, 162, 255, 0.5);
    border-color: #00a2ff;
    outline: none;
}

.btn-submit {
    padding: 12px;
    font-size: 1rem;
    font-weight: 600;
    background-color: #00a2ff;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: #007ec6;
}

